.highlight {
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
.highlight .hll {
  background-color: #ffffcc;
}
.highlight .c {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  color: #000000;
  font-weight: bold;
}
.highlight .o {
  color: #000000;
  font-weight: bold;
}
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .ge {
  color: #000000;
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  color: #000000;
  font-weight: bold;
}
.highlight .kd {
  color: #000000;
  font-weight: bold;
}
.highlight .kn {
  color: #000000;
  font-weight: bold;
}
.highlight .kp {
  color: #000000;
  font-weight: bold;
}
.highlight .kr {
  color: #000000;
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .m {
  color: #009999;
}
.highlight .s {
  color: #d01040;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
.highlight .nl {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  color: #000000;
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .mf {
  color: #009999;
}
.highlight .mh {
  color: #009999;
}
.highlight .mi {
  color: #009999;
}
.highlight .mo {
  color: #009999;
}
.highlight .sb {
  color: #d01040;
}
.highlight .sc {
  color: #d01040;
}
.highlight .sd {
  color: #d01040;
}
.highlight .s2 {
  color: #d01040;
}
.highlight .se {
  color: #d01040;
}
.highlight .sh {
  color: #d01040;
}
.highlight .si {
  color: #d01040;
}
.highlight .sx {
  color: #d01040;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d01040;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999999;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #009999;
}

/** CBP VARIABLES **/
/* pl variables */
html, body {
  height: 100%;
}

body {
  position: relative;
  overflow-y: auto;
  background-color: #eee;
}

.list-no-style {
  list-style-type: none;
}

hr.hr-strong {
  border-top: 3px solid #eee;
}

.disclaimer {
  text-align: center;
  color: #FFF;
  position: fixed;
  top: 0px;
  z-index: 2000;
  width: 110%;
  line-height: 1.65;
  background-color: #F09511;
}
.disclaimer a {
  color: #FFF;
  text-decoration: underline;
}

.pl-palette-color {
  display: inline-block;
  padding: 4px;
  margin-bottom: 8px;
  margin-right: 8px;
  border: 1px solid #eee;
  text-align: center;
}
.pl-palette-color .pl-palette-preview {
  border-radius: 2px;
  width: 125px;
  height: 50px;
}
.pl-palette-color .pl-palette-variable {
  font-weight: 600;
  color: #aaa;
}

.pl-header, .pl-header-hero {
  padding: 0;
  margin-top: 20px;
  height: 50px;
  z-index: 2000;
}
.pl-header .navbar-brand, .pl-header-hero .navbar-brand {
  width: 220px;
  height: 50px;
  padding: 14px 5px 0 13px;
  background: #001828;
}
.pl-header .pl-uspto-logo, .pl-header-hero .pl-uspto-logo {
  margin-top: -2px;
}
.pl-header .nav-collapse, .pl-header-hero .nav-collapse {
  background: #001828;
  padding: 12px 14px;
  border: none;
  float: left;
  height: 50px;
}

.pl-header-hero .navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}
.pl-header-hero .navbar {
  margin-bottom: 0;
}

.pl-collapsed-nav .pl-sidebar {
  display: none;
}
.pl-collapsed-nav .pl-content {
  margin-left: 0;
}
.pl-collapsed-nav .pl-sub-header {
  left: 0;
}
.pl-collapsed-nav .pl-header .navbar-brand, .pl-collapsed-nav .pl-header-hero .navbar-brand {
  display: none !important;
}
.pl-collapsed-nav .pl-header .container-fluid, .pl-collapsed-nav .pl-header-hero .container-fluid {
  padding-left: 0;
}
.pl-collapsed-nav .pl-header .container-fluid > .navbar-header, .pl-collapsed-nav .pl-header-hero .container-fluid > .navbar-header {
  margin-left: 0;
}

.pl-no-sidebar {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pl-no-sidebar .pl-sidebar {
  display: none;
}
.pl-no-sidebar .pl-content {
  margin: auto;
  padding-left: 8px;
  padding-right: 8px;
}
.pl-no-sidebar .navbar-brand {
  background: none;
}

.pl-sub-header {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  position: fixed;
  padding: 15px;
  z-index: 2;
  right: 0;
  left: 260px;
  top: 50px;
  min-height: -1;
  background: #FFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.pl-sub-header h3 {
  margin-left: 8px;
  margin-top: 12px;
  margin-bottom: 4px;
  font-weight: 600;
}
.pl-sub-header h5 {
  margin-left: 8px;
  color: #aaa;
  margin-top: 0;
  margin-bottom: 0;
}
.pl-sub-header .pull-right {
  padding: 0px;
}

.pl-container {
  position: relative;
  height: 100%;
}

.pl-panel, .pl-content .pl-pattern {
  display: block;
  margin: 40px;
  padding: 40px;
  line-height: 1.8;
  background: #FFF;
  border: 1px solid #ddd;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.025);
}

.pl-content {
  margin-left: 260px;
  position: relative;
  padding-top: 50px;
}
@media (max-width: 767px) {
  .pl-content {
    margin-left: 0;
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
  }
}
.pl-content .pl-footer {
  padding: 0 30px 30px 30px;
}
.pl-content .pl-pattern {
  padding: 40px 40px 0 40px;
}
@media (max-width: 767px) {
  .pl-content .pl-pattern {
    margin: 6px;
  }
}
.pl-content .pl-pattern > h3 {
  font-size: 28px;
  margin-top: 0;
  font-weight: 400;
}
.pl-content .pl-pattern > h3 .pl-heading-link {
  text-decoration: none;
}
.pl-content .pl-pattern > h3 .pl-heading-link .pl-heading-link-hash {
  color: #ccc;
  position: absolute;
  display: none;
}
.pl-content .pl-pattern > h3 .pl-heading-link:hover .pl-heading-link-hash {
  margin-left: -20px;
  display: inline-block;
}
.pl-content .pl-pattern > h4 {
  margin-top: 40px;
}
.pl-content .pl-pattern .pl-toggle-code {
  position: absolute;
  top: 0;
  display: block;
  right: 0;
  padding: 0 10px 0 8px;
  font-weight: 600;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-bottom-left-radius: 2px;
  background: #fafafa;
  cursor: pointer;
}
.pl-content .pl-pattern .pl-toggle-code .icon {
  margin-right: 3px;
}
.pl-content .pl-pattern .pl-toggle-code:hover, .pl-content .pl-pattern .pl-toggle-code.active {
  background: #f0f0f0;
}
.pl-content .pl-pattern .pl-preview {
  background: #fefefe;
  position: relative;
  margin: 20px -40px 0 -40px;
  padding: 30px 40px;
  border: 1px solid #eee;
  border-left: 0;
  border-right: 0;
  line-height: 1.428571429;
}
@media (max-width: 767px) {
  .pl-content .pl-pattern .pl-preview {
    margin: 0 -15px;
    padding: 30px 15px;
  }
}
.pl-content .pl-pattern .pl-preview::before {
  content: "Example";
  position: absolute;
  top: 0;
  right: 111px;
  padding: 0 8px;
  color: #555;
  font-weight: 600;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-bottom-left-radius: 2px;
  background: #fafafa;
}
.pl-content .pl-pattern .pl-preview + .highlight {
  display: none;
  padding: 30px 40px;
  margin: 0 -40px;
  position: relative;
  z-index: 2;
  background: #f6f6f6;
  border-bottom: 1px solid #eee;
}
.pl-content .pl-pattern pre {
  border-radius: 0;
  border: 0;
  padding: 0;
  word-wrap: normal;
  background: transparent;
}
.pl-content .pl-pattern pre code {
  white-space: pre;
}
.pl-content .pl-pattern .highlight {
  padding: 0;
}

.pl-icon-list {
  line-height: 2;
  font-size: 13px;
  color: #888;
}
.pl-icon-list i {
  display: inline-block;
  width: 20px;
  margin-right: 6px;
  text-align: left;
  color: #333;
}

.pl-grid-example .row > div {
  background: #f0f0f0;
  color: #333;
  border: 1px solid #282930;
  padding: 6px;
  text-align: center;
  margin-bottom: 16px;
}

.pl-preview-header {
  text-align: center;
  line-height: 40px;
  margin-bottom: -40px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .pl-preview-header {
    margin-bottom: -6px;
  }
}

.pl-sidebar {
  float: left;
  overflow: auto;
  top: 50px;
  background: #282930;
  bottom: 0;
  margin: 0;
  position: fixed;
  width: 260px;
  z-index: 1029;
  padding: 25px 0 6px 0;
}

.pl-sidebar .nav.nav-stacked {
  list-style: none;
  font-weight: 200;
  line-height: 16px;
}
.pl-sidebar .nav.nav-stacked > li > a {
  color: #FFF;
  padding-left: 30px;
}
.pl-sidebar .nav.nav-stacked > li > a:hover, .pl-sidebar .nav.nav-stacked > li > a:focus {
  background: #222329;
  color: #FFF;
}
.pl-sidebar .nav.nav-stacked > li.active > a {
  background: #222329;
  color: #FFF;
}
.pl-sidebar .nav.nav-stacked > li.active > ul {
  background: #222329;
}
.pl-sidebar .nav.nav-stacked > li > ul > li > a {
  padding-left: 40px;
}
.pl-sidebar .nav.nav-stacked > li > ul > li > a {
  background: #222329;
  color: #eee;
  border-left-color: transparent;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pl-sidebar .nav.nav-stacked > li > ul > li:last-child > a {
  padding-bottom: 8px;
}
.pl-sidebar .nav.nav-stacked > li > ul > li.active {
  background: #222329;
  color: #FFF;
}
.pl-sidebar .nav.nav-stacked > li > ul > li.active > a {
  background: #222329;
  color: #FFF;
}
.pl-sidebar .nav.nav-stacked li + li {
  margin-top: 0;
}
.pl-sidebar .nav.nav-stacked li + li.category {
  margin-top: 18px;
}
.pl-sidebar .nav.nav-stacked > .category {
  font-weight: 600;
  color: #eee;
  margin: 18px 0 5px 10px;
}
.pl-sidebar .nav.nav-stacked > li > a > .fa {
  color: #FFF;
  opacity: .15;
  position: relative;
  top: 1px;
  left: .6em;
}

.pl-hero {
  background-color: #00416A;
  padding-bottom: 75px;
  background-image: url(../images/hero-mockup11.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -10em;
}
.pl-hero .btn {
  margin: 0 10px;
  min-width: 120px;
  border: 2px solid #FFF;
  box-shadow: none;
  background: #00416A;
}
@media (max-width: 767px) {
  .pl-hero .btn {
    display: block;
    margin: 10px auto;
    max-width: 300px;
  }
}
.pl-hero .btn-default {
  color: #00416A;
  background: #FFF;
}
.pl-hero .container {
  padding: 20px 8px;
}
.pl-hero h1 {
  color: #FFF;
  font-size: 50px;
  font-weight: 200;
}
.pl-hero h3 {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
}

.pl-help {
  background-color: #282930;
  color: #FFF;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  text-align: center;
  padding: 25px;
  color: #949498;
}
.pl-help h4 {
  color: #FFF;
}
.pl-help a {
  color: #949498;
  text-decoration: underline;
}

.pl-heading-fancy {
  color: #008000;
}
.pl-heading-fancy:after {
  display: block;
  content: "";
  height: 1px;
  background: #40a040;
  width: 60px;
  margin-top: 8px;
  margin-left: 0;
  margin-bottom: 20px;
}

.pl-about {
  background: #FFF;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 16px;
  line-height: 1.6;
}
.pl-about h4 {
  margin-top: 21px;
}
.pl-about .pl-padded-col {
  padding: 20px 40px;
}
.pl-about .pl-padded-col p {
  text-align: left;
}

.pl-pattern-layouts .pl-preview {
  min-height: 275px;
}
.pl-pattern-layouts img {
  float: left;
  padding: 4px;
  border: 2px solid #ddd;
  border-radius: 2px;
  margin: 0 18px 18px 0;
  vertical-align: middle;
}
.pl-pattern-layouts ul {
  list-style-position: inside;
}

.pl-pattern .fonts img {
  float: right;
  padding-left: 20px;
  width: 500px;
  max-width: 500px;
  height: 400px;
}

.pl-pattern #myModalLive .modal-dialog {
  margin: 30% auto;
  max-width: 90%;
}

.pl-filter-spacer {
  margin-bottom: 25%;
}

#startTourBtn {
  display: block;
  margin: 0 auto 4% auto;
}
