@import "../../../node_modules/cbp-theme/dist/scss/custom/_variables.scss";


/* pl variables */
$pl-background-color: $gray-lighter;
$navbar-height: 50px;
$pl-header-bg: darken($brand-primary, 8%);
$pl-sidebar-width: 260px;
$pl-sidebar-bg: #282930;
$pl-sidebar-link-fg: $white;
$pl-sidebar-sublink-fg: $gray-lighter;
$pl-sidebar-category-fg: $gray-lighter;
$pl-sidebar-link-active-bg: mix($pl-sidebar-bg, #000, 85%);
$pl-sub-header-height: 0;
$pl-sub-header-bg: #f5f5f5;

html, body {
    height: 100%;
}

body {
    position: relative;
    overflow-y: auto;
    background-color: $pl-background-color;
}

.list-no-style {
  list-style-type:none;
}

hr.hr-strong {
  border-top: 3px solid $gray-lighter;
}

.disclaimer {
  text-align: center;
  color: $white;
  position: fixed;
  top: 0px;
  z-index: 2000;
  width:110%;
  line-height: 1.65;
  background-color: #F09511;
  a {
    color: $white;
    text-decoration: underline;
  }
}

.pl-palette-color {
    display: inline-block;
    padding: 4px;
    margin-bottom: 8px;
    margin-right: 8px;
    border: 1px solid $gray-lighter;
    text-align: center;

    .pl-palette-preview {
        border-radius: 2px;
        width: 125px;
        height: 50px;
    }

    .pl-palette-variable {
        font-weight: 600;
        color: $gray-light;
    }
}

.pl-header {
    padding: 0;
    margin-top: 20px;
    height: 50px;
    z-index: 2000;

    .navbar-brand {
        width: 220px;
        height: 50px;
        padding: 14px 5px 0 13px;
        background: darken($pl-header-bg, 5%);
    }

    .pl-uspto-logo {
        margin-top: -2px;
    }

    .nav-collapse {
        background: darken($pl-header-bg, 5%);
        padding: 12px 14px;
        border: none;
        float: left;
        height: $navbar-height;
    }
}

.pl-header-hero {
    @extend .pl-header;

    .navbar-inverse {
        background-color: transparent;
        border-color: transparent;
    }

    .navbar {
        margin-bottom: 0;
    }
}

.pl-collapsed-nav {
    .pl-sidebar {
        display: none;
    }
    .pl-content {
        margin-left: 0;
    }
    .pl-sub-header {
        left: 0;
    }
    .pl-header .navbar-brand {
        display: none !important;
    }
    .pl-header .container-fluid {
        padding-left: 0;
    }
    .pl-header .container-fluid > .navbar-header {
        margin-left: 0;
    }
}

.pl-no-sidebar {
    padding-top: 10px;
    padding-bottom: 10px;

    .pl-sidebar {
        display: none;
    }
    .pl-content {
        margin: auto;
        padding-left: 8px;
        padding-right: 8px;
    }
    .navbar-brand {
        background: none;
    }
}

.pl-sub-header {
    box-shadow: 0px 1px 2px rgba(0,0,0,.05);
    position: fixed;
    padding: 15px;
    z-index: 2;
    right: 0;
    left: $pl-sidebar-width;
    top: $navbar-height;
    min-height: $pl-sub-header-height - 1;
    background: $white;
    border-bottom: 1px solid rgba(0,0,0,.1);

    h3 {
        margin-left: 8px;
        margin-top: 12px;
        margin-bottom: 4px;
        font-weight: 600;
    }
    h5 {
        margin-left: 8px;
        color: $gray-light;
        margin-top: 0;
        margin-bottom: 0;
    }

    .pull-right {
        padding: 0px;
    }
}

.pl-container {
    position: relative;
    height: 100%;
}

.pl-panel {
    display: block;
    margin: 40px;
    padding: 40px;
    line-height: 1.8;
    background: $white;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 2px rgba(0,0,0,.025);
}

.pl-content {
    margin-left: $pl-sidebar-width;
    position: relative;
    padding-top: $navbar-height + $pl-sub-header-height;

    @media (max-width: $screen-xs-max) {
        & {
            margin-left: 0;
            padding-top: $navbar-height + $pl-sub-header-height;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .pl-footer {
        padding: 0 30px 30px 30px;
    }

    .pl-pattern {
        &  {
            @extend .pl-panel;
            padding: 40px 40px 0 40px;

            @media (max-width: $screen-xs-max) {
                & {
                    margin: 6px;
                }
            }

            > h3 {
                font-size: 28px;
                margin-top: 0;
                font-weight: 400;
                .pl-heading-link {
                    text-decoration: none;
                    .pl-heading-link-hash {
                        color: #ccc;
                        position: absolute;
                        display: none;
                    }
                    &:hover .pl-heading-link-hash {
                        margin-left: -20px;
                        display: inline-block;
                    }
                }
            }

            > h4 {
                margin-top: 40px;
            }

            .pl-toggle-code {
                position: absolute;
                top: 0;
                display: block;
                right: 0;
                padding: 0 10px 0 8px;
                font-weight: 600;
                border-left: 1px solid $gray-lighter;
                border-bottom: 1px solid $gray-lighter;
                border-bottom-left-radius: 2px;
                background: #fafafa;
                cursor: pointer;

                .icon {
                    margin-right: 3px;
                }

                &:hover, &.active {
                    background: #f0f0f0;
                }

            }

            .pl-preview {
                background: #fefefe;
                position: relative;
                margin: 20px -40px 0 -40px;
                padding: 30px 40px;
                border: 1px solid $gray-lighter;
                border-left: 0;
                border-right: 0;
                line-height: $line-height-base;

                @media(max-width: $screen-xs-max) {
                    & {
                        margin: 0 -15px;
                        padding: 30px 15px;
                    }
                }

                &::before {
                    content: "Example";
                    position: absolute;
                    top: 0;
                    right: 111px;
                    padding: 0 8px;
                    color: $gray;
                    font-weight: 600;
                    border-left: 1px solid $gray-lighter;
                    border-bottom: 1px solid $gray-lighter;
                    border-bottom-left-radius: 2px;
                    background: #fafafa;
                }
            }

            .pl-preview+.highlight {
                display: none;
                padding: 30px 40px;
                margin: 0 -40px;
                position: relative;
                z-index: 2;
                background: #fefefe;
                border-bottom: 1px solid $gray-lighter;
            }

            pre {
                border-radius: 0;
                border: 0;
                padding: 0;
                word-wrap: normal;
                background: transparent;

                code {
                    white-space: pre;
                }
            }

            .highlight {
                padding: 0;
            }

        }
    }
}

.pl-icon-list {
    line-height: 2;
    font-size: 13px;
    color: #888;
    i {
        display: inline-block;
        width: 20px;
        margin-right: 6px;
        text-align: left;
        color: $gray-dark;
    }
}

.pl-grid-example .row > div > div {
    background: #f0f0f0;
    color: $gray-dark;
    border: 1px solid $gray-lighter;
    padding: 6px;
    text-align: center;
    margin-bottom: 16px;
}

.pl-preview-header {
    text-align: center;
    line-height: 40px;
    margin-bottom: -40px;
    font-weight: 400;

    @media(max-width: $screen-xs-max) {
        & {
            margin-bottom: -6px;
        }
    }
}

.pl-sidebar {
    // border-right: 1px solid #ddd;
    float: left;
    overflow: auto;
    top: $navbar-height + $pl-sub-header-height;
    background: $pl-sidebar-bg;
    bottom: 0;
    margin: 0;
    position: fixed;
    width: $pl-sidebar-width;
    z-index: $zindex-navbar-fixed - 1;
    padding: 25px 0 6px 0;
}

.pl-sidebar .nav.nav-stacked {

    list-style: none;
    font-weight: 200;
    line-height: 16px;

    > li > a {
        color: $pl-sidebar-link-fg;
        &:hover,
        &:focus {
            background: $pl-sidebar-link-active-bg;
            color: $pl-sidebar-link-fg;
        }
        padding-left: 30px;
    }

    > li.active > a {
        background: $pl-sidebar-link-active-bg;
        color: $pl-sidebar-link-fg;
    }

    > li.active > ul {
        background: $pl-sidebar-link-active-bg;
    }

    > li > ul > li > a {
        padding-left: 40px;
    }

    > li > ul > li > a {
        background: $pl-sidebar-link-active-bg;
        color: $pl-sidebar-sublink-fg;
        border-left-color: transparent;
        font-size: $font-size-base - 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    > li > ul > li:last-child > a {
        padding-bottom: 8px;
    }

    > li > ul > li.active {
        background: $pl-sidebar-link-active-bg;
        color: $pl-sidebar-link-fg;
    }

    > li > ul > li.active > a {
        background: $pl-sidebar-link-active-bg;
        color: $pl-sidebar-link-fg;
    }

    li + li {
        margin-top: 0;

        &.category {
            margin-top: 18px;
        }
    }

    > .category {
        font-weight: 600;
        color: $pl-sidebar-category-fg;
        margin: 18px 0 5px 10px;
    }

    > li > a > .fa {
        color: $white;
        opacity: .15;
        position: relative;
        top: 1px;
        left: .6em;
    }

}

.pl-hero {
    background-color: $brand-primary;
    padding-bottom: 75px;
    background-image: url(../images/hero-mockup11.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -10em;


    .btn {
        margin: 0 10px;
        min-width: 120px;
        // border-radius: 100px;
        border: 2px solid $white;
        box-shadow: none;
        background: $brand-primary;

        @media (max-width: $screen-xs-max) {
            display: block;
            margin: 10px auto;
            max-width: 300px;
        }

    }

    .btn-default {
        color: $brand-primary;
        background: $white;
    }

    .container {
        padding: 20px 8px;
    }

    h1 {
        color: $white;
        font-size: 50px;
        font-weight: 200;
    }
    h3 {
        color: $white;
        font-size: 20px;
        font-weight: 400;
    }
}

.pl-help {
    background-color: $pl-sidebar-bg;
    color: $white;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    text-align: center;
    h4 {
        color: $white;
    }
    padding: 25px;
    color: mix($pl-sidebar-bg, $white, 50%);
    a {
        color: mix($pl-sidebar-bg, $white, 50%);
        text-decoration: underline;
    }
}

.pl-heading-fancy {
    color: $brand-success;
    &:after {
        display: block;
        content: "";
        height: 1px;
        background: mix($brand-success, $white, 75%);
        width: 60px;
        margin-top: 8px;
        margin-left: 0;
        margin-bottom: 20px;
    }
}

.pl-about {
    background: $white;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 16px;
    line-height: 1.6;

    h4 {
        margin-top: 21px;
    }

    .pl-padded-col {
        padding: 20px 40px;
        p {
            text-align: left;
        }
    }
}

.pl-pattern-layouts {
    .pl-preview {
        min-height: 275px;
    }
    img {
        float: left;
        padding: 4px;
        border: 2px solid #ddd;
        border-radius: 2px;
        margin: 0 18px 18px 0;
        vertical-align: middle;
    }
    ul {
        list-style-position:inside;
    }
}
